diracParser.output
*.o
simTest
CMakeCache.txt
CMakeFiles/*
a.out
.*swp
.nfs*
*.png
testCircuits/huge.tfc
testParser
libQC.a
cmake_install.cmake
diracTest
Makefile
TFCLexer.cpp
diracLexer.cpp
diracParser.cpp
diracParser.h
